################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VNext.BienEtreAuTravail/v16/Server/sqlite3
